.body{
	background-color: #6A92AD;
	
}
video{
	position:fixed;
	
	min-width:100%;
	min-height:100%;
	
	top:50%;
	left:50%;
	transform:translateX(-50%)translatey(-50%);
	
	z-index:-1;
	filter: blur(7px);
	
}
.help{
	margin-top:1px;
	
}
.logo{
	margin-top:70px;
	
}

.encabezado{
	margin-top:25px;
	color:#005892;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-weight: bold;
}

.label{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
    font-size: 35px;
    line-height: 1.42857143;
    color: #3A2C5B;
    background-color: transparent;
    font-weight: 700;
	margin-left:35px;
	margin-top:120px;
	
}
.reloj{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    width: 80%;
    border: rgb(87, 87, 87);
    background-color: transparent;
    font-size:35px;
    color: rgb(0, 25, 71) ;
    text-align: center;
}
/*---------------------------*/
.form-imput{
	width: 50%;
    height: 50px;
    font-size: 30px;
    color: #474747;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:35px;
    padding-left: 10px;
	
}
.piepagina{
	margin-top:40px;
	font-weight: 500;
	
}
.control-label{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left:10px;
}
.control-llenarin{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
    width: 100%;
    height: 32px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
	margin-right:30px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}
.control-combobx{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	width: 90%;
    height: 32px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 12px;
    padding-left: 8px;
}
/*---------------------------*/
.datain{
	border-right: 7px solid #243C96;
	border-radius:5px;
	height: 400px;
}
.datala{
	border-right: 7px solid #3600A3;
	border-radius:5px;
	height: 200px;
}
.boton{
    float: right;
    width: 200px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.sidebar{
	position: absolute;
    width: 300px;
    height: 90%;
}
.content{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
    padding: 30px;
}
.cuerpo{
    width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
    transition: all 0.3s;
}
/*---------------------------*/
.abrirs{
	transform: translateX(300px);
}
.fondo{
    background: #FFFFFF;
}
.alerta{
    width: 60%;
    margin-left: 20%;
    text-align: center;
}
/*-------------------------*/
.tabla{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    width: 80%;
}
.tabla td{
    text-align: center;
    border: 1px solid #ced1df;
    padding: 7px;
}
.tabla th{
    border-bottom: 5px solid #0092b7;
    width: 20%;
    height: 10px;
    text-align: center;
    padding: 7px;
}
.treport {
    color:red;
}
table#t01 tr.fila:hover {
    background-color:#a1e4eb!important;
    border: #9fcac8 1px solid;
}

table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 tr:nth-child(even) {
    background-color: #e8f3ff;
}
.btn-eliminar{
    color: #fff;
}

/*---------------------------*/
.cabecera{
    background: #1746aae7;
    font-size: 35px;
    color: #f1f9ff;
    margin: 0px;
    padding-left: 10px;
}
.cabecera i{
    cursor: pointer;
}
.cabecera i:hover{
    color: #0099ff;
}

/*---------------------------*/
.label-rep{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    font-size: 25px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left:10px;
}
/*---------------------------*/
.area-em{
    border: 3px solid #75a5ff;
    width: 90%;
    border-radius: 5px;
    
}
.tablaem{
    border: 1px solid #ced1df;
    border-collapse: collapse;
    

}
.tablaem td{
    border: 1px solid #ced1df;
    padding: 10px 10px;
}
.tablaem th{
    border: 1px solid #ced1df;
    background-color: #dee2e6bb;
    width: 20%;
    height: 10px;
    text-align: center;
    padding: 5px 5px;
}
table#t01em tr.filaem:hover{
    background-color:#fcfbdd!important;
    border: #9fcac8 1px solid;
    cursor: pointer;
}
.tablaem td input{
    cursor: pointer;
}
div.scroll { 
    margin:4px, 4px; 
    padding:4px; 
    width: 80%;
    height: 500px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
} 
.label-emp{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left:15px;
}
.input-emp{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    width: 90%;
    height: 32px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
	margin-left:15px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}
.cb-emp{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	width: 90%;
    height: 32px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    margin-left:15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 12px;
    padding-left: 8px;
}
.form-group-em{
    margin: 0px;
    
}
/*---------------------------*/
.label-perfil{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    font-size: 30px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left:10px;
}
/*---------------------------*/
.head{
    background: #1746aae7;
    width: 100%;
    height: 60px;
    font-size: 40px;
    color: #ffffff;
}
.head i {
    float: right;
    margin: 10px;
}
.head i:hover {
    cursor: pointer;
    color: #0099ff;
    
}
/*---------------------------*/
.opc{
    text-align: center;
    background: #c7e4ff;
    border-radius: 2px;
    margin-left: 50px;
    margin: 0 auto;
    cursor: pointer;
}
.opc:hover{
    background: #a4d3ff;
}
.pantalla{
    width: 100%;
}
a:link{
    text-decoration:none;
}


