* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.abrir{
	margin-left: 250px;
}
a:link{
	text-decoration:none;
}
.contenedor-menu h2{
	text-align: center;
	background:#0d2c44;
	color:#fff;
	padding:10px;
	margin-bottom: 0;
}
.btn-menu2{
	padding:1px;
	display:block;
	background:#0d2c44;
	color:#fff;
	
}
.btn-menu .icono{
	float:right;
}
.contenedor-menu{
	margin:0px;
	display:inline-block;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	line-height:15px;
}
.contenedor-menu .menu{
	width:100%;
	height: 100%;
}
.contenedor-menu ul{
	list-style:none;
	background:#7286A9;
}
.contenedor-menu .menu li a{
	color:#fff;
	display: block;
	padding: 15px 20px;
	
}
.contenedor-menu .menu li a:hover {
	background:#4D91FF;
	color:#fff;
}
.contenedor-menu .menu .icono {
	font-size:18px;
	line-height: 18px;
}
.contenedor-menu .menu .icono.izq {
	float: left;
	margin-right: 10px;
}
.contenedor-menu .menu .icono.der {
	float: right;
	margin-left: 10px;
}
.contenedor-menu .menu ul{
	display:none;
}
.contenedor-menu .menu ul li a {
	background:#5C6C87;
	color:#fff;
}
.contenedor-menu .menu .activado > a{
	background:#628DD9;
	color:#fff;
}


@media screen and (max-width: 450px){
	body{
		padding-top: 80px;
	}
	.contenedor-menu{
		margin: 0;
		width: 100%;
		position:fixed;
		top:0;
		z-index:1000;
	}
	.btn-menu{
		display:block;
	}
	.contenedor-menu{
		display:none;
	}
}

