.modal-footer .registrar{

    margin-left: 1em;
}
.modal-footer{
    display: flex;
    justify-content: space-evenly;
}

.modal-footer .registrar{
    color: #007bff;
    padding: 10px;
    cursor: pointer;
}

.modal-footer .registrar:hover{
  
    text-decoration: underline;
    color: #0062cc;
}
.modal-footer .boton{
    display: flex;
    justify-content: flex-end;
}

/* responsive */

@media (max-width:750px){
    .modal-footer .registrar{
        display: flex;
        justify-content: center;
    }

    .modal-footer .boton{
        display: flex;
        justify-content: center;
    }
}