*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* División del GRID */
.content{

    display: grid;
    
    grid-template-columns: 1,auto;
    grid-template-rows: 160px auto auto auto auto ;
    grid-template-areas: 
    "header "
    "nav"
    "banner"
    "title"
    "main"
    "footer ";
}


/* Header */
.header{
    
    grid-area: header;
    background-color: whitesmoke;
}

.header .promociones{
    background-color: black;
    color: white;
    height: 30px;
}

.header .promociones > p{
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

header .logo{
    width: 170px;
    margin: 30px auto;  

}

/* Barra de Menú */
.nav{
    background-color: black;
    grid-area: nav;
}

 .navbar-brand{
    padding-left: 17px;
    padding-right: 135px;
} 

.nav form{
    padding-left: 200px;
}


.user {
    margin-right: 55px;
    border: 2px solid #28a745;
    border-radius: 7px;
}

/* Banner */

.banner{
    background-color: grey ;
    grid-area: banner;
}


/* Titulo de la página */

.title{
    grid-area: title;
    background-color: whitesmoke;
}

.title h2{
    text-align: center;
    margin: 25px;
    font-size: 45px;
    color: white;
    background-color: #333333;
    box-shadow: 5px 2px 5px 1px #555;
    text-shadow: 0 1px 1px #eee;
}

/* Main */

.main{
    /* background-image: url(img/paven.png); */
    background-color: whitesmoke;
}

/* Productos destacados */
.products{
  
    width: 90%;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(auto-fill,230px); 
    justify-content: space-evenly;
    grid-gap: 50px;
}   

.products .card{
    box-shadow: 2px 6px 8px #777;
    margin-bottom: 10px;
}
.products .card .price{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
.products .card a{
    margin-left: 30px;
}

.products .card .btn{
    margin: 0 3rem;
}

/* Footer */
.footer{
    background-color: black;
    color: white;

    grid-area: footer;
    line-height: 65px;
    text-align: center;
}

.footer ul li{
    color: white;
}




/* Estilos responsivos */
/* ------------------------------------------ */


/* Menú */

@media (min-width: 1130px) and (max-width: 1220px) { 

    .nav form{
        padding-left: 110px;
    }
 }

 @media (min-width: 1127px) and (max-width: 1129px) { 

    .nav form{
        padding-left: 30px;
    }
 }

 @media (min-width: 992px) and (max-width: 1126px) { 

    .nav form{
        padding-left: 10px;
    }
 }

 @media(max-width:990px){
    .nav form{
        padding-left:0;
    }
 }

 /* Banner */
 @media(max-width:500px){
    .banner{
        display: none;
    }

    .main h2{
        font-size: 30px;
    }
 }